.skillsBlock {
    height: 100vh;
    background: #d5a696;
    display: flex;
}

.skillsContainer {
    /*align-items: center;*/
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background: #d5625a;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
